{
{% if consul_server %}
  "bootstrap": {{ consul_bootstrap | lower }},
{% endif %}
  "server": {{ consul_server | lower }},
  "datacenter": "{{ consul_datacenter }}",
  "data_dir": "{{ consul_data_dir }}",
  "ui_dir": "{{ consul_ui_dir }}",
  "encrypt": "{{ consul_encrypt }}",
  "log_level": "{{ consul_log_level }}",
{% if not consul_bootstrap %}
  "start_join": [{% for host in groups['all'] %}"{{ hostvars[host]['ansible_default_ipv4']['address'] }}"{% if not loop.last %},{% endif %}{% endfor %}],
{% endif %}
  "enable_syslog": {{ consul_enable_syslog | lower }}
}
